/*
Variables:
===========================
*/
:root {
  --light-gray: #ccc;
  --lighter-gray: #ddd;
  --off-white: #eee;
  --red: #f44336;
  --blue: #0075ff;
  --blue-alt: #0d69d5;
  --orange: #f59e0b;
  --green: #22c55e;
  --gray: #888;
  --br-6: 0.375rem;
  --br-10: 0.625rem;
  --fs-13: 0.8125rem;
  --fs-14: 0.875rem;
  --transition: 0.3s;
  --5px: 0.3125rem;
  --10px: 0.625rem;
  --15px: 0.9375rem;
  --20px: 1.25rem;
  --25px: 1.5625rem;
  --30px: 1.875rem;
  --40px: 2.5rem;
  --50px: 3.125rem;
}

/*
Global Rules:
===========================
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: var(--15px);
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt);
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
textarea,
button {
  outline: none;
  border: none;
}

p {
  line-height: 1.3;
}

/* -------------------- Components ----------------------- */
/*
Section's Style:
===========================
*/
.section-style {
  background-color: #fff;
  padding: var(--20px);
  border-radius: var(--br-10);
  -webkit-border-radius: var(--br-10);
  -moz-border-radius: var(--br-10);
  -ms-border-radius: var(--br-10);
  -o-border-radius: var(--br-10);
}

/*
Section's Paragraph:
===========================
*/
.section-p {
  color: var(--gray);
  margin-bottom: var(--20px);
  font-size: var(--15px);
  line-height: 1.5;
}

/*
Toggle Checkbox:
===========================
*/
.toggle-input {
  appearance: none;
}

.toggle-shape {
  width: 78px;
  height: 32px;
  background-color: var(--light-gray);
  position: relative;
  cursor: pointer;
  border-radius: 1rem;
  transition: var(--transition);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.toggle-shape::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  font-weight: 900;
  color: #aaa;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  border-radius: 50%;
  transition: var(--transition);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.toggle-input:checked + .toggle-shape {
  background-color: var(--blue);
}

.toggle-input:checked + .toggle-shape::before {
  content: "\f00c";
  left: 50px;
  color: var(--blue);
}
/* ----------------------------------------------------------------- */

/*
Page (sidebar & content wrapper):
===========================
*/
body > .page {
  background-color: #f1f5f9;
  min-height: 100vh;
}

/*
Sidebar:
===========================
*/
.page > aside {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

.page > aside .logo {
  margin: 0 auto var(--50px);
  width: fit-content;
}

.page > aside nav ul li a {
  display: flex;
  align-items: center;
  color: #000;
  padding: var(--10px);
  margin-bottom: var(--5px);
  font-size: var(--fs-14);
  border-radius: var(--br-6);
  transition: var(--transition);
  -webkit-border-radius: var(--br-6);
  -moz-border-radius: var(--br-6);
  -ms-border-radius: var(--br-6);
  -o-border-radius: var(--br-6);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.page > aside nav ul li a.active,
.page > aside nav ul li a:hover {
  background-color: #f6f6f6;
}

.page > aside nav ul li a span {
  margin-left: var(--10px);
}

@media (min-width: 48rem) {
  /* 768px */
  .page > aside {
    width: 13.75rem; /* 220px */
  }
  .page > aside .logo::before,
  .page > aside .logo::after {
    content: "";
    position: absolute;
    background-color: #000;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  .page > aside .logo::before {
    width: calc(100% + 20px);
    height: 2px;
    bottom: -20px;
  }
  .page > aside .logo::after {
    width: 12px;
    height: 12px;
    bottom: -29px;
    border: 4px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}

@media (max-width: 47.9375rem) {
  /* 767px */
  .page > aside {
    padding: var(--10px);
  }
  .page > aside .logo {
    font-size: var(--fs-14);
    margin-bottom: var(--15px);
  }
  .page > aside nav ul li a span {
    display: none;
  }
  .page > aside nav ul li a {
    justify-content: center;
  }
}

/*
Content Side:
===========================
*/
body > .page .content-side {
  overflow: hidden;
}

/*
Main Head:
===========================
*/
body > .page .content-side header form::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  color: var(--gray);
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: var(--15px);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

body > .page .content-side header input[type="search"] {
  padding: var(--10px) var(--10px) var(--10px) var(--30px);
  border-radius: var(--br-10);
  border: 1px solid var(--light-gray);
  width: 80%;
  font-size: var(--fs-13);
  transition: var(--transition);
  -webkit-border-radius: var(--br-10);
  -moz-border-radius: var(--br-10);
  -ms-border-radius: var(--br-10);
  -o-border-radius: var(--br-10);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

body > .page .content-side header input[type="search"]:focus {
  width: 100%;
  border-color: var(--gray);
}

body > .page .content-side header input[type="search"]:focus::placeholder {
  opacity: 0;
}

body > .page .content-side header .icons img {
  max-width: 100%;
  width: 2rem;
}

body > .page .content-side header .icons .notification {
  margin-right: var(--10px);
  position: relative;
}

body > .page .content-side header .icons .notification::before {
  content: "";
  position: absolute;
  top: -7px;
  right: -5px;
  width: 10px;
  height: 10px;
  background-color: var(--red);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/*
Content Side Header:
===========================
*/
.content-side > main .content-header {
  margin: var(--20px) var(--20px) var(--40px);
  position: relative;
}

.content-side > main .content-header::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 7.5rem;
  height: 3px;
  background: linear-gradient(90deg, #000 40%, #fff 40%);
}

/*
Sections Wrapper & section
===========================
*/
.content-side .sections-wrapper > section {
  background-color: #fff;
  overflow: hidden;
  border-radius: var(--br-10);
  -webkit-border-radius: var(--br-10);
  -moz-border-radius: var(--br-10);
  -ms-border-radius: var(--br-10);
  -o-border-radius: var(--br-10);
}

@media (max-width: 47.9375rem) {
  .content-side .sections-wrapper {
    margin: var(--10px);
  }
}

/*
Dashboard => Welcome Section:
===========================
*/
.welcome-section .intro {
  display: flex;
  justify-content: space-between;
  padding: var(--20px);
  background-color: var(--off-white);
}

.welcome-section .intro > img {
  width: 12.5rem;
  max-width: 100%;
  margin-bottom: -10px;
}

.welcome-section .profile-img {
  width: 4rem;
  border: 4px solid #fff;
  transform: translate(20px, -50%);
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translate(20px, -50%);
  -moz-transform: translate(20px, -50%);
  -ms-transform: translate(20px, -50%);
  -o-transform: translate(20px, -50%);
}

.welcome-section .info {
  border-top: 1px solid var(--off-white);
  border-bottom: 1px solid var(--off-white);
  padding: var(--20px);
}

.welcome-section .info div {
  text-align: center;
}

.welcome-section .info div span {
  display: block;
  color: var(--gray);
  font-size: var(--fs-14);
  margin-top: 10px;
}

.welcome-section .visit {
  display: block;
  width: fit-content;
  margin: 15px 15px 15px auto;
  font-size: var(--fs-14);
}

@media (min-width: 48rem) {
  .welcome-section .info {
    display: flex;
  }
  .welcome-section .info div {
    flex: 1;
  }
}

@media (max-width: 47.9375rem) {
  .welcome-section .intro {
    padding-bottom: 30px;
  }
  .welcome-section .profile-img {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  .welcome-section .info div:not(:last-child) {
    margin-bottom: var(--20px);
  }
}

/*
Dashboard => Draft Section:
===========================
*/
.draft-section form input.title,
.draft-section form textarea {
  background-color: var(--off-white);
  font-size: var(--fs-13);
  width: 100%;
  padding: var(--10px);
  margin-bottom: var(--20px);
  border-radius: var(--br-6);
  -webkit-border-radius: var(--br-6);
  -moz-border-radius: var(--br-6);
  -ms-border-radius: var(--br-6);
  -o-border-radius: var(--br-6);
}

.draft-section form textarea {
  min-height: 11.25rem;
  resize: none;
}

.draft-section > .save {
  display: block;
  width: fit-content;
  margin-left: auto;
  font-size: var(--fs-14);
}

/*
Dashboard => Yearly Targets Section:
===========================
*/
.yearly-targets .row {
  display: flex;
  align-items: center;
  gap: var(--15px);
}

.yearly-targets .row:not(:last-child) {
  margin-bottom: var(--20px);
}

.yearly-targets .row .details {
  flex: 1;
}

.yearly-targets .row i {
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yearly-targets .row .title {
  color: var(--gray);
  font-size: var(--fs-14);
}

.yearly-targets .row .achieved {
  display: block;
  font-weight: bold;
  margin: var(--5px) 0 var(--10px);
}

.yearly-targets .row .prog {
  height: 4px;
  position: relative;
}

.yearly-targets .row.money i,
.yearly-targets .row.money .prog {
  background-color: rgb(0 117 255 / 20%);
}

.yearly-targets .row.projects i,
.yearly-targets .row.projects .prog {
  background-color: rgba(245, 158, 11, 20%);
}

.yearly-targets .row.team i,
.yearly-targets .row.team .prog {
  background-color: rgb(34 197 94 / 20%);
}

.yearly-targets .row .prog span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.yearly-targets .row.money .prog span {
  background-color: var(--blue);
}

.yearly-targets .row.projects .prog span {
  background-color: var(--orange);
}

.yearly-targets .row.team .prog span {
  background-color: var(--green);
}

.yearly-targets .row .prog span::before {
  content: attr(data-progress);
  color: #fff;
  padding: var(--5px);
  font-size: var(--fs-13);
  position: absolute;
  bottom: 15px;
  right: 0;
  transform: translateX(50%);
  border-radius: var(--br-6);
  -webkit-border-radius: var(--br-6);
  -moz-border-radius: var(--br-6);
  -ms-border-radius: var(--br-6);
  -o-border-radius: var(--br-6);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
}

.yearly-targets .row.money .prog span::before {
  background-color: var(--blue);
}

.yearly-targets .row.projects .prog span::before {
  background-color: var(--orange);
}

.yearly-targets .row.team .prog span::before {
  background-color: var(--green);
}

.yearly-targets .row .prog span::after {
  content: "";
  border-color: transparent;
  border-width: var(--10px);
  border-style: solid;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
}

.yearly-targets .row.money .prog span::after {
  border-top-color: var(--blue);
}

.yearly-targets .row.projects .prog span::after {
  border-top-color: var(--orange);
}

.yearly-targets .row.team .prog span::after {
  border-top-color: var(--green);
}

/*
Dashboard => Tickets Statistics Section:
===========================
*/
.tickets-stats .box {
  text-align: center;
  padding: var(--20px);
  border: 1px solid var(--light-gray);
  width: calc(50% - var(--10px));
  border-radius: var(--br-10);
  -webkit-border-radius: var(--br-10);
  -moz-border-radius: var(--br-10);
  -ms-border-radius: var(--br-10);
  -o-border-radius: var(--br-10);
}

.tickets-stats .box .amount {
  display: block;
  font-size: var(--25px);
  font-weight: bold;
  margin: var(--10px) 0;
}

@media (max-width: 47.9375rem) {
  .tickets-stats .box {
    width: 100%;
  }
}

/*
Dashboard => Latest News Section:
===========================
*/
.latest-news article {
  display: flex;
  align-items: center;
}

.latest-news article:not(:last-child) {
  padding-bottom: var(--20px);
  margin-bottom: var(--20px);
  border-bottom: 1px solid var(--off-white);
}

.latest-news article img {
  width: 6.25rem; /* 100px */
  max-width: 100%;
  margin-right: var(--15px);
  border-radius: var(--br-6);
  -webkit-border-radius: var(--br-6);
  -moz-border-radius: var(--br-6);
  -ms-border-radius: var(--br-6);
  -o-border-radius: var(--br-6);
}

.latest-news article .details {
  flex: 1;
}

.latest-news article .details h3 {
  font-size: 1rem;
  margin-bottom: var(--5px);
}

.latest-news article .details p {
  font-size: var(--fs-14);
  color: var(--gray);
}

.latest-news article .date {
  font-size: var(--fs-13);
}

@media (max-width: 47.9375rem) {
  .latest-news {
    text-align: center;
  }
  .latest-news article {
    flex-direction: column;
  }
  .latest-news article .details {
    margin: 10px 0;
  }
}

/*
Dashboard => Latest Tasks Section:
===========================
*/
.latest-tasks article {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.latest-tasks article:not(:last-child) {
  padding-bottom: var(--20px);
  margin-bottom: var(--20px);
  border-bottom: 1px solid var(--off-white);
}

.latest-tasks article .details h3 {
  font-size: 1rem;
  margin-bottom: 5px;
}

.latest-tasks article .details p {
  font-size: var(--fs-14);
  color: var(--gray);
}

.latest-tasks article .delete {
  cursor: pointer;
  margin-left: 10px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.latest-tasks article .delete:hover {
  color: var(--red);
}

/* Tasks Completed */
.latest-tasks article.done {
  opacity: 0.3;
}

.latest-tasks article.done .details {
  text-decoration: line-through;
}

/*
Dashboard => Top Search Section:
===========================
*/
.top-search .titles,
.top-search .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-search .item:not(:last-child) {
  margin-bottom: var(--20px);
}

.top-search .item .count {
  font-size: var(--fs-13);
}

/*
Dashboard => Latest Updates Section:
===========================
*/
.latest-uploads .file {
  display: flex;
  align-items: center;
}

.latest-uploads .file:not(:last-child) {
  padding-bottom: var(--10px);
  margin-bottom: var(--10px);
  border-bottom: 1px solid var(--off-white);
}

.latest-uploads .file img {
  width: var(--40px);
  max-width: 100%;
  margin-right: var(--10px);
}

.latest-uploads .file .details {
  flex: 1;
}

.latest-uploads .file .details span.user {
  display: block;
  margin-top: var(--5px);
  color: var(--gray);
  font-size: var(--15px);
}

.latest-uploads .file .size {
  font-size: var(--fs-13);
}

/*
Dashboard => Last Project's Progress Section:
===========================
*/
.project-progress ul:before {
  content: "";
  width: 2px;
  height: calc(100% - 19px);
  background-color: var(--blue);
  position: absolute;
  top: 0;
  left: 11px;
}

.project-progress ul li {
  display: flex;
  align-items: center;
  margin-top: var(--30px);
  margin-left: var(--40px);
}

.project-progress ul li::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #fff;
  outline: 2px solid var(--blue);
  position: absolute;
  left: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.project-progress ul li.done::before {
  background-color: var(--blue);
}

.project-progress ul li.current::before {
  background-color: #fff;
  animation: flashing-bg;
  -webkit-animation: flashing-bg 1s infinite alternate;
}

.project-progress img {
  width: 10rem;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.2;
}

/*
Dashboard => Reminders Section:
===========================
*/
.reminders ul li {
  margin-top: var(--15px);
  position: relative;
}

.reminders ul li::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.reminders ul li.blue::before {
  background-color: var(--blue);
}

.reminders ul li.green::before {
  background-color: var(--green);
}

.reminders ul li.orange::before {
  background-color: var(--orange);
}

.reminders ul li.red::before {
  background-color: var(--red);
}

.reminders ul li .text {
  margin-left: var(--30px);
  padding-left: var(--15px);
  border-left-width: 2px;
  border-left-style: solid;
}

.reminders ul li.blue .text {
  border-left-color: var(--blue);
}

.reminders ul li.green .text {
  border-left-color: var(--green);
}

.reminders ul li.orange .text {
  border-left-color: var(--orange);
}

.reminders ul li.red .text {
  border-left-color: var(--red);
}

.reminders ul li h3 {
  font-size: var(--15px);
  margin-bottom: 5px;
}

.reminders ul li span {
  color: var(--gray);
  font-size: var(--fs-13);
}

/*
Dashboard => Latest Post:
===========================
*/
.latest-post .info-wrapper img {
  width: var(--50px);
  max-width: 100%;
}

.latest-post .content {
  margin: var(--20px) 0;
  padding: var(--20px) 0;
  border-top: 1px solid var(--off-white);
  border-bottom: 1px solid var(--off-white);
  line-height: 1.8;
}

.latest-post .post-stats i {
  margin-right: 5px;
}

/*
Dashboard => Social Media Statistics:
===========================
*/
.social-stats .media-site {
  margin-top: var(--10px);
  display: flex;
  align-items: center;
}

.social-stats .media-site.twitter {
  background-color: rgb(29 161 242 / 20%);
  color: rgb(29 161 242);
}

.social-stats .media-site.facebook {
  background-color: rgb(24 119 242 / 20%);
  color: rgb(24 119 242);
}

.social-stats .media-site.youtube {
  background-color: rgb(255 0 0 / 20%);
  color: rgb(255 0 0);
}

.social-stats .media-site.linkedin {
  background-color: rgb(0 119 181 / 20%);
  color: rgb(0 119 181);
}

.social-stats .media-site > i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  margin-right: var(--10px);
  color: #fff;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.social-stats .media-site > i:hover {
  transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
}

.social-stats .media-site .stats {
  margin-right: var(--5px);
}

.social-stats .media-site a {
  color: #fff;
  font-size: var(--fs-14);
  margin-left: auto;
  margin-right: var(--10px);
}

.social-stats .media-site.twitter > i,
.social-stats .media-site.twitter a {
  background-color: #1da1f2;
}

.social-stats .media-site.facebook > i,
.social-stats .media-site.facebook a {
  background-color: #1877f2;
}

.social-stats .media-site.youtube > i,
.social-stats .media-site.youtube a {
  background-color: #ff0000;
}

.social-stats .media-site.linkedin > i,
.social-stats .media-site.linkedin a {
  background-color: #0077b5;
}

/*
Dashboard => Projects:
===========================
*/
.projects-widget {
  overflow-x: auto;
  margin: var(--20px);
}

@media (max-width: 47.9375rem) {
  .projects-widget {
    margin: 10px 10px 20px;
  }
}

.projects-widget table {
  border-collapse: collapse;
  text-align: left;
  min-width: 1000px;
  width: 100%;
  font-size: var(--15px);
}

.projects-widget table thead {
  background-color: var(--off-white);
}

.projects-widget table thead th,
.projects-widget table td {
  padding: var(--15px);
  border: 1px solid var(--off-white);
}

.projects-widget table tbody tr {
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.projects-widget table tbody tr:hover {
  background-color: #faf7f7;
}

.projects-widget table img {
  width: 32px;
  height: 32px;
  max-width: 100%;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.projects-widget table img:not(:first-of-type) {
  margin-left: -18px;
}

.projects-widget table .status {
  font-size: var(--fs-13);
  color: #fff;
}

/*
Setting => Site Control:
===========================
*/
.site-control textarea {
  width: 100%;
  min-height: 150px;
  font-size: var(--fs-13);
  border: 1px solid var(--light-gray);
  resize: none;
  padding: var(--10px);
  margin-top: var(--20px);
  border-radius: var(--br-6);
  -webkit-border-radius: var(--br-6);
  -moz-border-radius: var(--br-6);
  -ms-border-radius: var(--br-6);
  -o-border-radius: var(--br-6);
}

/*
Setting => General Information:
===========================
*/
.general-info form div:not(:last-child) {
  margin-bottom: var(--15px);
}

.general-info form div .input-label {
  display: block;
  margin-bottom: var(--5px);
  font-size: var(--fs-14);
  color: var(--gray);
}

.general-info form div input {
  font-size: var(--fs-13);
  width: 100%;
  padding: var(--10px);
  border: 1px solid var(--light-gray);
  border-radius: var(--br-6);
  -webkit-border-radius: var(--br-6);
  -moz-border-radius: var(--br-6);
  -ms-border-radius: var(--br-6);
  -o-border-radius: var(--br-6);
}

.general-info form div input[type="email"] {
  width: calc(100% - 75px);
  margin-right: var(--10px);
}

.general-info form div input[type="email"]:disabled {
  cursor: not-allowed;
  background-color: #f0f4f8;
  color: #bbb;
}

.general-info form .change {
  background: none;
  color: var(--blue);
  cursor: pointer;
}

/*
Setting => Security Information:
===========================
*/
.security-info > .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.security-info > .box:not(:last-child) {
  border-bottom: 1px solid var(--off-white);
  padding-bottom: var(--20px);
  margin-bottom: var(--20px);
}

.security-info .devices-btn {
  cursor: pointer;
}

/*
Setting => Social Media Information:
===========================
*/
.social-info .site {
  border: 1px solid var(--lighter-gray);
  display: flex;
  margin-top: var(--15px);
  overflow: hidden;
  border-radius: var(--br-6);
  -webkit-border-radius: var(--br-6);
  -moz-border-radius: var(--br-6);
  -ms-border-radius: var(--br-6);
  -o-border-radius: var(--br-6);
}

.social-info .site i {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  width: var(--40px);
  height: var(--40px);
  border-right: 1px solid var(--lighter-gray);
  color: var(--gray);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.social-info .site input[type="text"] {
  padding-left: var(--10px);
  background-color: #f6f6f6;
  font-size: var(--fs-13);
  width: 100%;
}

.social-info .site:focus-within i {
  color: #000;
}

/*
Setting => Widgets Control:
===========================
*/
.widgets-control .checkbox {
  margin-top: var(--15px);
}

.widgets-control .checkbox input[type="checkbox"] {
  appearance: none;
  display: none;
}

.widgets-control .checkbox label {
  padding-left: var(--30px);
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
}

.widgets-control .checkbox label::before,
.widgets-control .checkbox label::after {
  width: 15px;
  height: 15px;
  border: 2px solid var(--gray);
  position: absolute;
  left: 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.widgets-control .checkbox label::before {
  content: "";
}

.widgets-control .checkbox label:hover::before {
  border-color: var(--blue);
}

.widgets-control .checkbox label::after {
  font-family: var(--fa-style-family-classic);
  content: "\f00c";
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  color: #fff;
  border-color: var(--blue);
  font-size: var(--fs-13);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  transform: scale(0) rotate(360deg);
  -webkit-transform: scale(0) rotate(360deg);
  -moz-transform: scale(0) rotate(360deg);
  -ms-transform: scale(0) rotate(360deg);
  -o-transform: scale(0) rotate(360deg);
}

.widgets-control .checkbox input[type="checkbox"]:checked + label::after {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

/*
Setting => Backup Manager:
===========================
*/
.backup-manager .select-box {
  margin-top: var(--20px);
}

.backup-manager input[type="radio"] {
  appearance: none;
  display: none;
}

.backup-manager .select-box label {
  position: relative;
  cursor: pointer;
  padding-left: var(--30px);
}

.backup-manager .select-box label::before,
.backup-manager .select-box label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  transition: var(--transition);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.backup-manager .select-box label::before {
  width: 18px;
  height: 18px;
  left: 0;
  border: 2px solid var(--gray);
}

.backup-manager .select-box label::after {
  width: 12px;
  height: 12px;
  background-color: var(--blue);
  left: 5px;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}

.backup-manager .select-box input[type="radio"]:checked + label::before {
  border-color: var(--blue);
}
.backup-manager .select-box input[type="radio"]:checked + label::after {
  transform: scale(1) translateY(-50%);
  -webkit-transform: scale(1) translateY(-50%);
  -moz-transform: scale(1) translateY(-50%);
  -ms-transform: scale(1) translateY(-50%);
  -o-transform: scale(1) translateY(-50%);
}

.backup-manager .servers {
  margin-top: var(--20px);
  padding-top: var(--20px);
  border-top: 1px solid var(--off-white);
  display: flex;
  gap: var(--10px);
  text-align: center;
}

.backup-manager .servers .server-box {
  flex: 1;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.backup-manager .servers .server-box label {
  cursor: pointer;
  display: block;
  border: 2px solid var(--off-white);
  padding: var(--15px);
  border-radius: var(--br-10);
  transition: var(--transition);
  -webkit-border-radius: var(--br-10);
  -moz-border-radius: var(--br-10);
  -ms-border-radius: var(--br-10);
  -o-border-radius: var(--br-10);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.backup-manager .servers .server-box i {
  display: block;
  margin-bottom: var(--10px);
}

.backup-manager .servers .server-box label:hover,
.backup-manager .servers .server-box input[type="radio"]:checked + label {
  border-color: var(--blue);
  color: var(--blue);
}

@media (max-width: 47.9375rem) {
  .backup-manager .servers {
    flex-direction: column;
  }
}

/*
Profile => Profile-section:
===========================
*/
.profile-section {
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: var(--20px);
  padding: 0;
}

.profile-section .profile-box {
  width: 300px;
  text-align: center;
  padding: 0 var(--20px);
}

.profile-section .profile-box > img {
  width: 120px;
  height: 120px;
  max-width: 100%;
  margin-bottom: var(--10px);
}

.profile-section .profile-box span.level {
  display: block;
  color: var(--gray);
  margin: var(--15px) 0;
}

.profile-section .profile-box .level-prog,
.profile-section .profile-box .level-prog span {
  height: 6px;
  border-radius: var(--br-6);
  -webkit-border-radius: var(--br-6);
  -moz-border-radius: var(--br-6);
  -ms-border-radius: var(--br-6);
  -o-border-radius: var(--br-6);
}

.profile-section .profile-box .level-prog {
  width: 65%;
  margin: 0 auto;
  background-color: var(--light-gray);
  position: relative;
}

.profile-section .profile-box .level-prog span {
  background-color: var(--blue);
  position: absolute;
  top: 0;
  left: 0;
}

.profile-section .profile-box .stars {
  margin: var(--15px) auto var(--5px);
  color: var(--orange);
  font-size: var(--fs-13);
}

.profile-section .box-wrapper {
  width: 100%;
}

.profile-section .box-wrapper .info-card {
  padding: var(--20px);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.profile-section .box-wrapper .info-card:hover {
  background-color: #f9f9f9;
}

.profile-section .box-wrapper .info-card:not(:last-child) {
  border-bottom: 1px solid var(--off-white);
}

.profile-section .box-wrapper .info-card .card-header {
  color: var(--gray);
  margin-bottom: var(--15px);
}

.profile-section .box-wrapper .info-card .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.profile-section .box-wrapper .info-card .grid > * {
  justify-self: start;
}

.profile-section .box-wrapper .info-card .info-item {
  font-size: var(--fs-14);
}

.profile-section .box-wrapper .info-card .info-item .title {
  color: var(--gray);
  margin-right: var(--5px);
}

.profile-section .box-wrapper .info-card .toggle-shape {
  height: 20px;
}

.profile-section .box-wrapper .info-card .toggle-shape::before {
  width: 12px;
  height: 12px;
  font-size: 8px;
}

.profile-section
  .box-wrapper
  .info-card
  input[type="checkbox"]:checked
  + .toggle-shape::before {
  left: 62px;
}

@media (max-width: 47.9375rem) {
  .profile-page {
    margin: var(--10px);
  }
  .profile-section {
    flex-direction: column;
    padding: var(--20px) 0;
    margin-bottom: var(--10px);
  }
  .profile-section .box-wrapper {
    border: none;
  }
  .profile-section .box-wrapper .info-card .card-header {
    text-align: center;
  }
  .profile-section .box-wrapper .info-card .grid > * {
    justify-self: center;
  }
}

@media (min-width: 48rem) {
  .profile-section .box-wrapper {
    border-left: 1px solid var(--off-white);
  }
}

/*
Profile => Skills Section:
===========================
*/
.skills-section {
  flex-grow: 1;
}

.skills-section ul li {
  padding: var(--10px) 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--5px);
}

.skills-section ul li:not(:last-child) {
  border-bottom: 1px solid var(--off-white);
}

.skills-section ul li span {
  font-size: var(--fs-14);
}

/*
Profile => Activity Section:
===========================
*/
.activity-section {
  flex-grow: 2;
}

.activity-section article {
  display: flex;
  align-items: center;
  gap: var(--10px);
}

.activity-section article:not(:last-child) {
  border-bottom: 1px solid var(--off-white);
  margin-bottom: var(--20px);
  padding-bottom: var(--20px);
}

.activity-section article > img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.activity-section article .details {
  flex: 1;
}

.activity-section article .details p {
  color: var(--gray);
  margin-top: var(--10px);
}

.activity-section article .date-holder .time {
  display: block;
}

.activity-section article .date-holder .date {
  font-size: var(--fs-14);
  color: var(--gray);
}

@media (min-width: 48rem) {
  .activity-section article .date-holder {
    text-align: right;
  }
}

@media (max-width: 47.9375rem) {
  .skills-and-activities {
    flex-direction: column;
  }
  .skills-section ul li {
    justify-content: center;
  }
  .activity-section article {
    flex-direction: column;
    text-align: center;
  }
  .activity-section article .details p {
    margin-top: var(--5px);
    font-size: var(--15px);
  }
}

/*
Projects:
===========================
*/
.projects-page section {
  padding: var(--20px);
  position: relative;
}

.projects-page section > h4 {
  margin-bottom: var(--10px);
  font-weight: normal;
}

.projects-page section .date {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--gray);
  font-size: var(--fs-13);
}

.projects-page section ul {
  border-bottom: 1px solid var(--off-white);
}

.projects-page section .team {
  display: flex;
  padding-bottom: var(--20px);
  margin-bottom: var(--15px);
}

.projects-page section .team li:not(:first-child) {
  margin-left: -0.8rem;
}

.projects-page section .team li:hover {
  z-index: 100;
}

.projects-page section .team li a {
  display: block;
}

.projects-page section .team li a img {
  width: 32px;
  height: 32px;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.projects-page section .tags {
  display: flex;
  justify-content: flex-end;
  gap: var(--10px);
  padding-bottom: var(--15px);
  margin-bottom: var(--20px);
}

.projects-page section .tags li {
  font-size: var(--fs-13);
}
.projects-page section .prog,
.projects-page section .prog span {
  border-radius: var(--br-6);
  -webkit-border-radius: var(--br-6);
  -moz-border-radius: var(--br-6);
  -ms-border-radius: var(--br-6);
  -o-border-radius: var(--br-6);
}

.projects-page section .prog {
  width: 15rem;
  max-width: 100%;
  height: 6px;
  background-color: var(--off-white);
  position: relative;
}

.projects-page section .prog span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.projects-page section .prog span.completed {
  background-color: var(--blue);
}

.projects-page section .prog span.inprogress {
  background-color: var(--green);
}

.projects-page section .prog span.delayed {
  background-color: var(--red);
}

.projects-page section .money {
  font-size: var(--fs-14);
  color: var(--gray);
}

.projects-page section .money i {
  margin-right: var(--5px);
}

@media (max-width: 31.25rem) {
  .projects-page section .tags {
    flex-direction: column;
  }
  .projects-page section .project-details {
    flex-direction: column;
    justify-content: center;
  }
  .projects-page section .prog {
    margin-bottom: var(--10px);
  }
}

/*
Courses:
===========================
*/
.courses-page section .cover {
  width: 100%;
}

.courses-page section .definition {
  padding: var(--20px);
}

.courses-page section .definition h4 {
  margin-bottom: var(--15px);
}

.courses-page section .definition p {
  color: var(--gray);
  font-size: var(--fs-14);
  line-height: 1.6;
}

.courses-page section .details-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--15px);
  margin-top: var(--15px);
  border-top: 1px solid var(--off-white);
  font-size: var(--fs-14);
  position: relative;
}

.courses-page section .details-holder span {
  color: var(--gray);
}

.courses-page section .details-holder a {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

/*
Files:
===========================
*/
.files-page .sections-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  gap: var(--20px);
  flex: 1;
  margin: 0;
}

.files-page .files-stats {
  min-width: 16.25rem;
}

.files-page .files-stats li {
  display: flex;
  align-items: center;
  gap: var(--10px);
  font-size: var(--fs-13);
  margin-top: var(--10px);
  border: 1px solid var(--off-white);
  padding: var(--10px);
  border-radius: var(--br-6);
  -webkit-border-radius: var(--br-6);
  -moz-border-radius: var(--br-6);
  -ms-border-radius: var(--br-6);
  -o-border-radius: var(--br-6);
}

.files-page .files-stats li i {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.files-page .files-stats li i.blue {
  background-color: rgba(0, 117, 255, 0.2);
}

.files-page .files-stats li i.green {
  background-color: rgba(34, 197, 94, 0.2);
}

.files-page .files-stats li i.red {
  background-color: rgba(244, 67, 54, 0.2);
}

.files-page .files-stats li i.orange {
  background-color: rgba(245, 158, 11, 0.2);
}

.files-page .files-stats li .title {
  display: block;
  margin-bottom: var(--5px);
}

.files-page .files-stats .amount {
  color: var(--gray);
}

.files-page .files-stats .size {
  color: var(--gray);
  margin-left: auto;
}

.files-page .files-stats .upload {
  font-size: var(--fs-13);
  margin: var(--20px) auto 0;
  display: block;
  width: fit-content;
  padding: var(--10px) var(--15px);
}

.files-page .files-stats .upload i {
  margin-right: var(--10px);
}

.files-page .files-stats .upload:hover i {
  animation: bouncing 0.4s alternate infinite;
  -webkit-animation: bouncing 0.4s alternate infinite;
}

.files-page .sections-wrapper section {
  padding: var(--10px);
}

.files-page .sections-wrapper section .content {
  position: relative;
  text-align: center;
}

.files-page .sections-wrapper section .content i {
  color: var(--gray);
  position: absolute;
  top: 0;
  left: 0;
}

.files-page .sections-wrapper section .content img {
  width: 64px;
  max-width: 100%;
  margin: var(--15px) 0;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.files-page .sections-wrapper section:hover img {
  transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
}

.files-page .sections-wrapper section .content h4 {
  font-weight: normal;
  margin-bottom: var(--15px);
  font-size: var(--15px);
}

.files-page .sections-wrapper section .content span {
  display: block;
  color: var(--gray);
  font-size: var(--fs-13);
  text-align: left;
}

.files-page .sections-wrapper section .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray);
  font-size: var(--fs-13);
  border-top: 1px solid var(--off-white);
  padding-top: var(--10px);
  margin-top: var(--10px);
}

@media (max-width: 47.9375rem) {
  .files-page {
    flex-direction: column;
    margin: var(--10px);
    gap: var(--10px);
  }
  .files-page .sections-wrapper {
    gap: var(--10px);
  }
}

@media (min-width: 48rem) {
  .files-page .files-stats {
    order: 1;
  }
}

/*
Plans:
===========================
*/
.plans-page.sections-wrapper > section {
  padding: var(--20px);
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.plans-page > section .price {
  text-align: center;
  color: #fff;
  border: 3px solid #fff;
  padding: var(--20px);
}

.plans-page > section .price h2 {
  margin-bottom: var(--10px);
}

.plans-page > section .price span {
  font-size: var(--40px);
  position: relative;
}

.plans-page > section .price span::before {
  font-family: var(--fa-style-family-classic);
  content: "\24";
  font-weight: normal;
  font-size: 1.4rem;
  position: absolute;
  top: 5px;
  left: -20px;
}

.plans-page > section.free .price {
  background-color: var(--green);
  outline: 3px solid var(--green);
}

.plans-page > section.basic .price {
  background-color: var(--blue);
  outline: 3px solid var(--blue);
}

.plans-page > section.premium .price {
  background-color: var(--orange);
  outline: 3px solid var(--orange);
}

.plans-page > section ul {
  margin: var(--20px) 0;
}

.plans-page > section ul li {
  padding: var(--15px) 0;
  border-bottom: 1px solid var(--off-white);
  font-size: var(--15px);
  display: flex;
  align-items: center;
  gap: var(--5px);
}

.plans-page > section ul li i.yes {
  color: var(--green);
}

.plans-page > section ul li i.help {
  color: var(--gray);
  cursor: pointer;
  margin-left: auto;
}

.plans-page > section ul li i.no {
  color: var(--red);
}

.plans-page > section .join {
  color: #fff;
}

.plans-page > section.free .join {
  background-color: var(--green);
}

.plans-page > section.basic .join {
  background-color: var(--blue);
}

.plans-page > section.premium .join {
  background-color: var(--orange);
}

.plans-page > section .current-plan {
  color: var(--gray);
  text-align: center;
}

/*
Keyframes:
===========================
*/
@keyframes flashing-bg {
  from {
    background-color: var(--blue);
  }
  to {
    background-color: #fff;
  }
}

@keyframes bouncing {
  100% {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}
}
