/*
Variables:
===========================
*/
:root {
  --light-gray: #ccc;
  --lighter-gray: #ddd;
  --off-white: #eee;
  --red: #f44336;
  --blue: #0075ff;
  --blue-alt: #0d69d5;
  --orange: #f59e0b;
  --green: #22c55e;
  --gray: #888;
  --br-6: 0.375rem;
  --transition: 0.3s;
  --5px: 0.3125rem;
  --10px: 0.625rem;
  --14px: 0.875rem;
  --15px: 0.9375rem;
  --20px: 1.25rem;
  --50px: 3.125rem;
}

/*
Global Rules:
===========================
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  border: none;
}

/*
Page (sidebar & content wrapper):
===========================
*/
body > .page {
  background-color: #f1f5f9;
  min-height: 100vh;
}

/*
Sidebar:
===========================
*/
.page > aside {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

.page > aside .logo {
  margin: 0 auto var(--50px);
  width: fit-content;
}

.page > aside nav ul li a {
  display: flex;
  align-items: center;
  color: #000;
  padding: var(--10px);
  margin-bottom: var(--5px);
  font-size: var(--14px);
  border-radius: var(--br-6);
  transition: var(--transition);
  -webkit-border-radius: var(--br-6);
  -moz-border-radius: var(--br-6);
  -ms-border-radius: var(--br-6);
  -o-border-radius: var(--br-6);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.page > aside nav ul li a.active,
.page > aside nav ul li a:hover {
  background-color: #f6f6f6;
}

.page > aside nav ul li a span {
  margin-left: var(--10px);
}

@media (min-width: 48rem) {
  /* 768px */
  .page > aside {
    width: 15.625rem; /* 250px */
  }
  .page > aside .logo::before,
  .page > aside .logo::after {
    content: "";
    position: absolute;
    background-color: #000;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  .page > aside .logo::before {
    width: calc(100% + 20px);
    height: 2px;
    bottom: -20px;
  }
  .page > aside .logo::after {
    width: 12px;
    height: 12px;
    bottom: -29px;
    border: 4px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}

@media (max-width: 47.9375rem) {
  /* 767px */
  .page > aside {
    padding: var(--10px);
  }
  .page > aside .logo {
    font-size: var(--14px);
    margin-bottom: var(--15px);
  }
  .page > aside nav ul li a span {
    display: none;
  }
  .page > aside nav ul li a {
    justify-content: center;
  }
}

/*
Main Head:
===========================
*/
body > .page main header form::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  color: var(--gray);
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: var(--15px);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

body > .page main header input[type="search"] {
  padding: var(--10px) var(--10px) var(--10px) calc(var(--20px) + var(--10px));
  border-radius: var(--10px);
  border: 1px solid var(--light-gray);
  width: 80%;
  font-size: 0.8125rem;
  transition: var(--transition);
  -webkit-border-radius: var(--10px);
  -moz-border-radius: var(--10px);
  -ms-border-radius: var(--10px);
  -o-border-radius: var(--10px);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

body > .page main header input[type="search"]:focus {
  width: 100%;
  border-color: var(--gray);
}

body > .page main header input[type="search"]:focus::placeholder {
  opacity: 0;
}

body > .page main header .icons img {
  max-width: 100%;
  width: 2rem;
}

body > .page main header .icons .notification {
  margin-right: var(--10px);
  position: relative;
}

body > .page main header .icons .notification::before {
  content: "";
  position: absolute;
  top: -7px;
  right: -5px;
  width: 10px;
  height: 10px;
  background-color: var(--red);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/*
Section Header:
===========================
*/
