/*
Variables:
===========================
*/
:root {
  --red: #f44336;
  --blue: #0075ff;
  --blue-alt: #0d69d5;
  --orange: #f59e0b;
  --green: #22c55e;
  --gray: #888;
}

/*
Text Alignment:
===========================
*/
.txt-c {
  text-align: center;
}

/*
Box Module:
===========================
*/
.d-flex {
  display : flex;
}

.align-c {
  align-items: center;
}

.justify-c {
  justify-content: center;
}

.flex-between-c {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-1 {
  flex: 1;
}

/*
Positioning:
===========================
*/
.p-relative {
  position: relative;
}

.p-absolute {
  position: relative;
}

/*
Spacing:
===========================
*/
.p-10 {
  padding: 0.625rem;
}

.p-15 {
  padding: 0.9375rem;
}

.p-20 {
  padding: 1.25rem;
}

/*
Fonts:
===========================
*/
.fs-14 {
  font-size: 0.875rem;
}

/*
Sizing:
===========================
*/
.w-full {
  width: 100%;
}

/*
Coloring:
===========================
*/
.bg-white {
  background-color: #fff;
}